.detailPage {
    width: 100%;
    float: right;
}

.detailInfo {
    background: #fff;
}

.detailInfo .ant-btn {
    margin-right: 10px;
}

.appHeader {
    padding: 10px 10px 10px 24px;
    font-size: 2em;
    color: #4caf50;
    height: 31px;
}
.appBody {
    margin-top: 10px;
    padding: 24px;
}
.ant-collapse-borderless{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.btnIcon {
    cursor: pointer;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}

.detailLeft {
    float: left;
    min-width: 60%;
    margin-bottom: 16px;
}

.detailLeft .ant-btn {
    margin-right: 10px;
}

.detailRight {
    float: right;
    margin: 0 10% 0 0 ;
    min-width: 530px;
    max-width: 530px;
    border-radius: 10px;
    overflow: hidden;
    height: 347px;
    margin-bottom: 16px;
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 22px;
}

.detailRight .title-bar {
    padding: 5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

.detailRight .text-body {
    height: 347px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1.45em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.table-operations {
    margin-bottom: 16px;
}
