#sidebar {
    width: 10%;
    height: 90%;
    margin-left: 20px;
    margin-top: 70px;

    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.ant-cascader-menus .ant-cascader-menu {
    min-width: 138px;
}